asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.1.8
idna==2.10
imgurpython==1.1.7
praw==7.1.0
prawcore==1.5.0
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
update-checker==0.18.0
urllib3==1.26.5
websocket-client==0.57.0
