{% extends "accounts/base.html" %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron bg-dark">
      {% if registered %}
        <h1>Thank you for registering!</h1>
	<br>
	<a class="btn btn-success btn-block" href="{% url 'accounts:user_login' %}">Login</a>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
        <form enctype="multipart/form-data" method="POST" name="register">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" class="btn btn-success" name="" onclick="return IsEmptyOrDot();" value="Register">
        </form>
        
      {% include "accounts/username_script.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}