{% extends "accounts/base.html" %}
{% block body_block %}
<div class="container"">
  <div class="jumbotron bg-dark" style="text-align: center; border:black solid 4px; ">
    <div>
    <img src="https://i.imgur.com/xs6hRZu.gif" style="height: 30%;width: 30%; float: left; border-radius: 60%;">
    <h1>Hi, I am here to help you</h1>
    </div>
    
    <p>See anything weird or want to report something? or Anything else??
         Shoot me a mail at <b>sarthaksrivastavadtu712@gmail.com</b>. </p>
   
  </div>
  <div class="jumbotron bg-dark" style="border:black solid 4px; ">
    <h2>
        Contact
    </h2>
      <p> Shoot me a mail at <b>sarthaksrivastavadtu712@gmail.com</b>.
        <br>Please mention your username in mail I will get back to you as soon as possible. <br><br>
          Please don't hesitate to connect. I am <b><a  target="_blank" href="https://sarthakdtu.github.io" >Sarthak Srivastava</a></b>, creator of this social-networking web-app called <b>ByteNet</b>.
          If you find this exciting, do let me know on <b><a  target="_blank" href="https://www.linkedin.com/in/sarthaksrivastava712">LinkedIn</a></b>. I will be happy to hear about it.
          <br>
          <b> : )</b> </p>
  </div>
</div>

{% endblock %}