<div style="position:static;">
    <div class="container friends_scroll" style="position: relative;">
        
      <span class="curr_user_frind_list"></span>
        <hr color="white">
    </div>
   
  
</div>
<div class="container" style="position: sticky; position: -webkit-sticky; top:115px;" >
    <span style="font-size: x-large;" class="btn btn-outline-success">
        <i class="far fa-compass"></i>Trending
    </span>
    <br>
    <a href="https://bytenet.pythonanywhere.com/post/posts_list_hashtag/philosophy/" 
                   style="text-decoration: none;">#philosophy</a>
    <br>
    <a href="https://bytenet.pythonanywhere.com/post/posts_list_hashtag/music/" 
                   style="text-decoration: none;">#music</a>
    <br>
    <a href="https://bytenet.pythonanywhere.com/post/posts_list_hashtag/sketch/" 
                   style="text-decoration: none;">#sketch</a>
    <br>
</div>