{% extends "feed/feed.html" %}
{% block content %}
<!-- {% load index_tag %} -->

<!-- <h5 >This is what everyone's "byting" . . . .</h5> -->
<div class="container" style="color: black;">
            <div class="container text-light">
                    {% for i in num_posts %}
                        <div class="row" style="font-size: xx-large; text-align: center;">   
                            {% with posts|index:i as post_list%} 
                            {% for post in post_list %}
                            <div class="col-sm">
                                <div >
                                    <a href="{% url 'post:view_post' post_id=post.pk %}" style="text-decoration: none;">
                                    {% if post.is_video %}
                                        <video  controls loop autoplay>
                                        <source src={{ post.imgur_url }} type="video/mp4" >
                                        </video>
                                    {% else %}
                                        <img src={{ post.imgur_url }} class="card-img-top" alt="...">
                                    {% endif %}
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            {% endwith %}
                        </div>
                        <br>
                       
                    {% endfor %}
                </div>
</div>
{% endblock %}