{% extends "feed/feed.html" %}
{% block content %}
<!-- {% load index_tag %} -->

<!-- <h5 >This is what everyone's "byting" . . . .</h5> -->
<div class="container" style="color: black;">
            <div class="container text-light">
                {% for post in posts %}
                <div class="container text-center" >
                    <iframe width="700" height="460" src={{ post.youtube_video_url }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a href="{% url 'post:view_post' post_id=post.pk %}" style="text-decoration: none;" 
                    class="btn btn-block btn-outline-primary ">
                    Go to post
                    </a><br>
                </div>
                {% endfor %}
                </div>
</div>
{% endblock %}