{% extends "accounts/base.html" %}
{% block body_block %}


<h2 >This is what everyone's "byting" . . . .</h2>
<br>

<div class="container" style="color: black;">
    <div class="container">
        <input type="text" name="text" class="form-control input-group
             input-group-lg byte-text  text-area" placeholder="What's on your mind? . . . . ">
        <p style="color:whitesmoke;" > *You can also tag your friends at the New Byte option* </p>
        <input type="submit" class="btn btn-primary btn-block byte-submit" value="Byte" id="byte-submit">
        <a href="{% url 'post:create_post' %}" class="btn btn-block btn-success">Upload Images, Gifs and Videos (Yup!! Just click me and share awesome pics.)</a>
        <br>
    </div>

    <div class="new_post">
        <div class="container hide" style="display: none;">
            <div class="card rounded border border-dark bg-light">
                <h4 class="card-header h4 text-light bg-dark ">
                    <a href=""{% url 'feed:profile_info' %}"" class="text-light" style="text-decoration:none">
                        #You
                    </a>
                </h4>
                <h6 id="new_post_time"> </h6>
                <div class="card-body bg-light text-dark">
                    <h3 class="card-text" id="new_post_text"> </h3>
                </div>
            </div>
        </div>
    </div>

   

    {% block main_pagination %}
    {% include "feed/pagination_feed.html" %}
    {% endblock %}
</div>

{% include "post/like_dislike_block_script.html" %}
{% include "post/new_post_block_script.html" %}
{% include "feed/nav_profile_pic_feed_script.html" %}
{% include "accounts/save_profile_pic_url.html" %}

{% endblock %}