{% extends "feed/feed.html" %}
{% block content %}
<div class="infinite-container">
    {% for post in posts %} 
      <div class="container infinite-item" style="width:80%;" >
        <div class="card rounded border"  style="background-color: black;" >
            <h5 class="card-header h5 text-light bg-dark" style="padding-top: 0.3%; padding-bottom: 0.3%;">
                <a href="{% url 'feed:profile_info' profile_username=post.username %}"
                     class="text-light"
                    style="text-decoration:none">
                    
                    <img src={{ post.profile_pic_url }} class="avatar" > {{ post.username }}
                    </a>
                    <a href="{% url 'post:view_post' post_id=post.pk %}" style="float: right;">
                        <img src="https://img.icons8.com/nolan/64/share.png" style="width: 80%;height: 80%;" >
                    </a>
                    <span class="share_text"></span>
                </h5>
            <h6 class="text-light" style="background-color:dodgerblue">{{ post.time_of_posting }} </h6>
            <div class="text-right text-light">
                                {% if post.is_edited %}
                                    <b>edited</b>
                                {% endif %}
            </div>
            <div class="card-body container text-light" style="background-color: black;">
                <p class="card-text container" style="text-align: justify; ">{{ post.text }}</p>
                {% if post.hashtags %}
                {% for hashtag in post.hashtags %}
                   <a href="{% url 'post:filter_posts_hashtag' hashtag=hashtag.hashtag__keyword %}" 
                   style="text-decoration: none;">#{{hashtag.hashtag__keyword}}</a>
                {% endfor %}
                {% endif %}
                <br> 
                {% if post.tweet_url %}
                    <div class="container">
                        <div>                            
                                {{ post.tweet_url | safe }}
                        </div>
                    </div>
                {% endif %}
                
                {% if post.spotify_url %}
                <iframe src={{post.spotify_url}} style="align-content: center; " width="300" height="80" frameborder="0" ></iframe>
                {% endif %}
                {% if post.youtube_video_url %}
                    {% if post.content_approved %}
                        <div class="container">
                            <iframe width="400" height="360" src={{ post.youtube_video_url }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% else %}
                    <img src="https://i.imgur.com/24zjXms.jpeg" class="card-img-top" style="align-content: center; ;" alt="...">           
                    {% endif %}
                {% endif %}
                
                {% if post.imgur_url %}
                        <div>
                            {% if post.img_approved %}
                                {% if post.is_video %}
                                    <video style=" align-content: center;" controls loop>
                                        <source src={{ post.imgur_url }} type="video/mp4" >
                                    </video>
                                {% else %}
                                    <img src={{ post.imgur_url }} class="card-img-top" style="align-content: center;" alt="...">
                                {% endif %}
                            {% else %}
                            <img src="https://i.imgur.com/7Yleqns.jpg" class="card-img-top" style="align-content: center; display: block;" alt="...">
                            {% endif %}

                        </div>
                {% endif %}
                {% if post.article_preview %}
                    {{ post.article_preview | safe }}
                {% endif %}
            </div>
            <div class="d-flex flex-row text-dark bg-info">
                {% for tag in post.tags %}

                <div class="p-1">
                    <a href="{% url 'feed:profile_info' profile_username=tag.username %}" class="text-dark"
                        style="text-decoration:none">
                        @{{ tag.username }}
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="container" style="background-color:lightyellow;">
                <div class="d-flex flex-row ">
                   
                    {% include "post/like_dislike_block.html" %}
                    <span class="p-4"></span>
                    <div class="p-1 form-group">
                        <a href="{% url 'post:view_post' post_id=post.pk %}" class="btn btn-warning">Comments</a>
                    </div>
                </div>
                <span id="message{{ post.pk }}"></span>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    
    <img src="https://i.imgur.com/LxQA5tM.gif" style="height: 50%; width:50%; align-content: center; margin-left: 24%;">
        <h4 style="color: cornflowerblue; text-align: center;">You are all caught up!!</h4>
    
  </div>
  <br>
  {% if posts.has_next %}
    <a class="infinite-more-link" href="?page={{ posts.next_page_number }}" style="text-decoration: none;" >
        <button class="btn btn-block btn-success" >
            View More
        </button>
    </a>

    {% else %}
    
        <button class="btn btn-block btn-warning" >
          No more bytes beyond this point.....
        </button>
        <img src="https://i.imgur.com/LxQA5tM.gif" style="height: 50%; width:50%; align-content: center; margin-left: 24%;">
    
  {% endif %}
        <br>
  {% if posts.has_previous %}
    <a class="infinite-more-link" href="?page={{ posts.previous_page_number }}" style="text-decoration: none;" >
        <button class="btn btn-block btn-danger" >
            View Previous
        </button>
    </a>

  {% endif %}
        <br>
  <div class="loading" style="display: none;">
    Loading...
  </div>

 

  {% endblock %}