{% extends "accounts/base.html" %}
{% block body_block %}

<div class="container">
    <div class="">
        <div class="row col-sm-12">
            <img class="profile_pic_display" src={{ profile_pic_url }} style="  display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;" > 
        </div>
        <br>
        <div class="profile_info row container col-sm-12" style="text-align: center;">
                <h4 class="container">{{ name }}</h4>
                
   
                <h4 class="container">@{{ username }}</h4>
   
                <h4 class="container">Email: {{ email }}</h4>
   
                <h4 class="container">{{ age }} years old</h4>
   
                <h4 class="container">From {{ location }}</h4>
        </div>
       
    </div>
    <br>
    <br>
   
    <a href="{% url 'post:posts_list' author=username %}" class="container btn btn-success">View Posts</a>
    <br>
    <br>
    {% if current_user %}
    You can change your profile pic by using edit profile option.
        <div class="">
            <div class="d-flex flex-row ">
                    <div class="p-1 form-group">
                        <a href="{% url 'accounts:edit_profile' %}"
                           class="btn btn-primary">Edit Profile</a>
                    </div>
                    <span class="p-4"></span>
                    <div class="p-1">
                        <a href="{% url 'accounts:delete_account'  %}"
                           class="btn btn-danger">Delete Account</a>
                    </div>
            </div>
        </div>
    {% else %}
        {% if not friend %}
            <form method="POST" action="{% url 'feed:send_friend_request' %}">
            {% csrf_token %}
            <input type="hidden" value= "{{username}}" name="username" >
            <input type="submit" class="btn btn-success" value="Connect">
        </form>
        {% endif %}
    {% endif %}


</div>
{% endblock %}