{% extends 'accounts/base.html' %}
{% block body_block %}
{% load index_tag %}
<div class="container">
    <h2>People you may know</h2>


    {% for i in range %}
    {% with people|index:i as persons%} 
    <div class="row container">
        {% for person in persons %}
        {% if person.username %}
        <div class="col-sm container" style="text-align: center;border: solid white 1px;">
            <div class="cotainer">
                <img class="container" src="{{person.profile_pic_url}}" style=" margin-top: 9px; width: 80%; height: 80%;">
                <br>
                <span class="container" style="margin-top: 9px;" >{{ person.first_name }} {{person.last_name}}</span> 
                <br>
                <a href="{% url 'feed:profile_info' profile_username=person.username %}" 
                class="btn btn-outline-warning" style="text-decoration:none">
                View Profile
                </a>
                <form method="POST" action="{% url 'feed:send_friend_request' %}">
                    {% csrf_token %}
                    <input type="hidden" value= "{{person.username}}" name="username" >
                    <input type="submit" class="btn btn-success" value="Connect">
                </form>
                <br>
                </div>
        </div>
        {% endif %}
        <br><br>
        {% endfor %}
    </div>
    
    {% endwith %}
    {% endfor %}
</div>

{% endblock %}