{% extends "accounts/base.html" %}
{% block body_block %}

{% for post in posts %}
                <div class="container"  style="background-color: black;">
                    <div class="card">
                        <a href="{% url 'feed:profile_info' profile_username=post.author.username %}" class="text-dark"
                            style="text-decoration:none">
                            <h4 class="card-header h4 bg-dark text-light"><img src={{post.author_profile.profile_pic_url}} class="avatar" >  {{ post.author.username }}</h4>
                        </a>
                        <h6 class="panel-success text-dark" >{{ post.time_of_posting }} </h6>
                        <div class="card-body"  style="background-color: black;">
                            <div class="card-body container text-light" style="background-color: black;">
                                <p class="card-text container" style="text-align: justify; ">{{ post.text }}</p>
                                {% if post.hashtags %}
                                {% for hashtag in post.hashtags %}
                                   <a href="{% url 'post:filter_posts_hashtag' hashtag=hashtag.hashtag__keyword %}" 
                                   style="text-decoration: none;">#{{hashtag.hashtag__keyword}}</a>
                                {% endfor %}
                                {% endif %}
                                <br> 
                                {% if post.tweet_url %}
                                    <div class="container">
                                        <div>                            
                                                {{ post.tweet_url | safe }}
                                        </div>
                                    </div>
                                {% endif %}
                                
                                {% if post.spotify_url %}
                                <iframe src={{post.spotify_url}} style="align-content: center; " width="300" height="80" frameborder="0" ></iframe>
                                {% endif %}
                                {% if post.youtube_video_url %}
                                    {% if post.content_approved %}
                                        <div >
                                            <iframe width="596" height="360" src={{ post.youtube_video_url }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    {% else %}
                                    <img src="https://i.imgur.com/24zjXms.jpeg" class="card-img-top" style="align-content: center; ;" alt="...">           
                                    {% endif %}
                                {% endif %}
                                
                                {% if post.imgur_url %}
                                        <div>
                                            {% if post.img_approved %}
                                                {% if post.is_video %}
                                                    <video style=" align-content: center;" controls loop>
                                                        <source src={{ post.imgur_url }} type="video/mp4" >
                                                    </video>
                                                {% else %}
                                                    <img src={{ post.imgur_url }} class="card-img-top" style="align-content: center;" alt="...">
                                                {% endif %}
                                            {% else %}
                                            <img src="https://i.imgur.com/7Yleqns.jpg" class="card-img-top" style="align-content: center; display: block;" alt="...">
                                            {% endif %}
                
                                        </div>
                                {% endif %}
                                {% if post.article_preview %}
                                    {{ post.article_preview | safe }}
                                {% endif %}
                            </div>
                        </div>
                        <a href="{% url 'post:view_post' post_id=post.pk %}" class="btn btn-success bg-info">View Post</a>
                    </div>
                </div>
            <br>
{% endfor %}
{% endblock %}