{% extends "accounts/base.html" %}
{% block body_block %}
<div class="container">
    <h3>Are you sure you want to delete this byte?</h3>
    <br>
    <h4>You won't be able to retrieve it back......</h4>
    <br>
  <form method="POST" action="{% url 'post:delete_post' pk=post.id %}">
        {% csrf_token %}
      <input type="submit" value="Confirm" class="btn btn-danger">
  </form>
  <br><br>
  <a href="{% url 'post:view_post' post_id=post.id %}" class="btn btn-success">Back</a>
</div>
{% endblock %}