{% extends "accounts/base.html" %}
{% block body_block %}
<div class="container">
    {% if current_user %}
        <h2>Your post</h2>
    {% else %}
        <br>
    {% endif %}
    <br>
    
    <div class="container">
            <div class="card rounded border border-dark ">
                
                        <h4 class="card-header h4 text-light bg-dark ">
                            <a href="{% url 'feed:profile_info' profile_username=post.username %}" 
                            class="text-light" style="text-decoration:none">
                                <img src={{ post.profile_pic_url }} class="avatar" > {{ post.username }}
                        </a>
                        <div class="popup" style="float: right;"  onclick="myFunction()"> <img src="https://img.icons8.com/nolan/64/share.png">
                            <span class="popuptext" id="myPopup">Copy the link from url bar.</span>
                          </div>
                        </h4>

                    <h6 class="text-dark">{{ post.time_of_posting }} </h6>
                    <div class="text-right">
                                    {% if post.is_edited %}
                                        <b>edited</b>
                                    {% endif %}
                    </div>
                       <div class="card-body" style="background-color: black;">
                           <p class="card-text">{{ post.text }}</p>
                           {% for hashtag in post.hashtags %}
                           <a href="{% url 'post:filter_posts_hashtag' hashtag=hashtag.hashtag__keyword %}" 
                          style="text-decoration: none;">#{{hashtag.hashtag__keyword}}</a>
                          {% endfor %}
                       </div>
                      
                       {% if post.tweet_url %}
                       <div class="container">
                           <div style="margin-left: 20%;" >
                                    {{ post.tweet_url | safe }}
                           </div>
                       </div>
                   {% endif %}
                   {% if post.spotify_url %}
                   <iframe src={{post.spotify_url}} style="align-content: center; margin-left: 30%;" width="300" height="80" frameborder="0" ></iframe>
                   {% endif %}
                       {% if post.youtube_video_url  %}
                            <div class="container">
                                    {% if post.content_approved %}
                                        <iframe width="996" height="560" src={{ post.youtube_url }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    {% else %}
                                    <img src=https://i.imgur.com/24zjXms.jpeg class="card-img-top" alt="...">
                                    {% endif %}
                            </div>
                       {% endif %}

                       {% if post.imgur_url %}
                            <div >
                                {% if post.img_approved %}
                                    {% if post.is_video %}
                                        <video controls loop>
                                            <source src={{post.imgur_url}} type="video/mp4">
                                        </video>
                                    {% else %}
                                        <img src={{post.imgur_url}} class="card-img-top" alt="...">
                                    {% endif %}
                                {% else %}
                                    <img src=https://i.imgur.com/7Yleqns.jpg class="card-img-top" alt="...">
                                {% endif %}
                            </div>
                        {% endif %}
                       
                        <div class="d-flex flex-row text-dark bg-info">
                                {% for tag_username in post.tags__username %}    
                                <div class="p-2 h5">
                                        <a href="{% url 'feed:profile_info' profile_username=tag_username %}" class="text-dark" style="text-decoration:none">
                                            @{{ tag_username }}
                                        </a>
                                </div>
                                {% endfor %}  
                            </div>  
                       <div class=" bg-light">
                            <div class="d-flex flex-row ">  
                                {% include "post/like_dislike_block.html" %}
                            </div>
                    </div>
            </div>
            <br>
            <div class="container btn btn-warning btn-sm">
                    <p >Commenting functionality isn't added yet</p>
            </div>
            <br>
            <br>
            {% if current_user %}
            <div class="container">
                <div class="d-flex flex-row ">
                    <div class="p-1 form-group">
                        <a href="{% url 'post:edit_post' pk=post.pk  %}"
                           class="btn btn-primary">Edit</a>
                    </div>
                    <span class="p-4"></span>
                    <div class="p-1">
                        <a href="{% url 'post:delete_post' pk=post.pk  %}"
                           class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>

            {% endif %}
    </div>
    <br>

</div> 
<br>   
<h3>Let's "byte" something today!!</h3>
<br>
<a href="{% url 'post:create_post' %}" class="btn btn-success">Create Byte</a>
<br>


{% include "post/like_dislike_block_script.html" %}

{% endblock %}